
body{
  background-color: #302F57;

}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: #b8b8df;
}

.mainUl{
  min-width: 450px;
  padding: 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.mainLI{
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 30px;
  border-radius: 30px;
  align-items: center;
  padding: 10px;
  background-color: #403F65;
}

.toggleButton{
  font-size: 30px;
  height: 100%;
  display: flex;
}

.close{
  color: red;
}

.check{
  color: rgb(41, 170, 41);
}

.inputText::placeholder{
  color: #b8b8df;
}